<div class="text-input text-input--filled-darker select-input" data-field="{{name}}">
  <label class="text-input__label" for="{{id}}">{{label}}</label>
  <div class="text-input__field"><div class="text-input__inner"><select class="text-input__input select-input__control" id="{{id}}" name="{{name}}" aria-describedby="{{id}}-error">{{options}}</select><img class="select-input__chevron" src="components/select/assets/chevron.svg" alt="" width="14" height="8"></div></div>
  <p class="form-field-error" id="{{id}}-error" hidden></p>
</div>
