.heavy-content {
  padding-block: var(--space-40);
}

.heavy-content__container > .page-intro {
  --page-intro-padding: 0; --page-intro-background: transparent; --page-intro-content-padding: 0;
  --page-intro-gap: var(--space-24);
  --page-intro-title-font: var(--font-weight-heading) var(--fs-display-lg) / var(--lh-display-lg) var(--font-sans);
  --page-intro-title-color: var(--gray-950);
  --page-intro-title-tracking: -2px;
  --page-intro-description-font: var(--font-weight-semibold) var(--fs-text-lg) / var(--lh-text-lg) var(--font-sans);
  --page-intro-description-color: var(--gray-950);
  --page-intro-description-width: 100%;
}

.heavy-content > .heavy-content__container > .divider {
  margin-block: var(--space-32);
}

.heavy-content__layout {
  display: grid;
  grid-template-columns: 222px minmax(0, 1fr);
  align-items: start;
  gap: var(--space-32);
}

.heavy-content__layout > .table-of-contents {
  position: sticky;
  inset-block-start: var(--space-24);
}

@media (max-width: 767px) {
  .heavy-content {
    padding-block: var(--space-40);
  }

  .heavy-content__container > .page-intro {
    --page-intro-title-font: var(--font-weight-heading) var(--fs-display-sm) / var(--lh-display-sm) var(--font-sans);
    --page-intro-title-tracking: 0;
  }

  .heavy-content__layout {
    grid-template-columns: minmax(0, 1fr);
  }

  .heavy-content__layout > .table-of-contents {
    position: static;
  }

}
