<!doctype html>
<html lang="{{lang}}" dir="{{dir}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{description}}">
  {{head_metadata}}
  <title>{{title}} | {{site_name}}</title>
{{styles}}
</head>
<body>
<a class="skip-link" href="#main-content">{{skip_label}}</a>
{{digital_stamp}}
{{header}}
<main id="main-content" tabindex="-1">
{{content}}
</main>
{{footer}}
<script src="components/digital-stamp/digital-stamp.runtime.js" defer></script>
<script src="components/navigation-header/navigation-header.runtime.js" defer></script>
{{scripts}}
<script src="styles/composites/feedback.js" defer></script>
  <script src="templates/government/home.js" defer></script>
</body>
</html>
