<article class="card service-card" id="{{card_id}}" aria-labelledby="{{card_id}}-title" data-service-card data-audiences="{{audience_keys}}" data-category="{{category}}" data-search="{{search_text}}">
  <span class="service-card__icon" aria-hidden="true"><img src="components/service-card/assets/check.svg" alt=""></span>
  <div class="card__content"><h3 class="card__title" id="{{card_id}}-title">{{title}}</h3><p class="card__body">{{description}}</p></div>
  <div class="service-card__tags">{{tags}}</div>
  <div class="card__actions"><a class="btn btn--secondary-outline" href="{{detail_url}}">تفاصيل الخدمة</a><a class="btn btn--primary" href="{{start_url}}">بدء الخدمة</a></div>
</article>
