<details class="digital-stamp" {{open_attribute}}>
  <summary class="digital-stamp__summary">
    <span class="digital-stamp__identity"><span class="digital-stamp__flag" aria-hidden="true"><img src="{{asset_prefix}}imgFrame1.svg" alt=""></span><span class="digital-stamp__caption">{{caption}}</span></span>
    <span class="link digital-stamp__action">{{toggle_label}}<span class="digital-stamp__arrow" aria-hidden="true"><img class="digital-stamp__arrow-closed" src="{{asset_prefix}}imgElements.svg" alt=""><img class="digital-stamp__arrow-open" src="{{asset_prefix}}imgElements1.svg" alt=""></span></span>
  </summary>
  <div class="digital-stamp__body">
    <div class="digital-stamp__explanations">
      <div class="digital-stamp__explanation">
        <span class="digital-stamp__featured" aria-hidden="true"><span class="digital-stamp__icon"><img src="{{asset_prefix}}imgElements3.svg" alt=""></span></span>
        <div class="digital-stamp__text"><p class="digital-stamp__heading"><span class="digital-stamp__desktop-label">{{domain_heading}}</span><span class="digital-stamp__mobile-label">{{mobile_domain_heading}}</span> <bdi class="digital-stamp__highlight" dir="ltr">{{extension}}</bdi></p><p class="digital-stamp__description">{{domain_description}}</p></div>
      </div>
      <div class="digital-stamp__explanation">
        <span class="digital-stamp__featured" aria-hidden="true"><span class="digital-stamp__icon digital-stamp__icon--lock"><img src="{{asset_prefix}}imgElements2.svg" alt=""></span></span>
        <div class="digital-stamp__text"><p class="digital-stamp__heading">{{security_heading}} <bdi class="digital-stamp__highlight" dir="ltr">HTTPS</bdi></p><p class="digital-stamp__description">{{security_description}}</p></div>
      </div>
    </div>
    <div class="digital-stamp__registration"><img class="digital-stamp__dga-logo" src="{{asset_prefix}}imgDgaLogo.svg" alt="{{authority_label}}"><div class="digital-stamp__registration-text"><span>{{registration_label}}</span>{{registration}}</div></div>
  </div>
</details>
